
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-bottom: 11rem;
  margin-left: 6rem; */
  padding-bottom: 11rem;
  padding-left: 6rem;
}


.info p {
  font-size: 1.2em;
  margin-top: 1.1rem;
  text-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

.info button {
  margin-top: 1.7rem;
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;
  font-family: monospace;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 1.5em;
  font-weight: bolder;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.info button:hover,
.info button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.info button:active {
  background: var(--color);
  color: #fff;
}
.info button a{
  text-decoration: none;
  color: black;
}
.imageCont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6.2rem;
  padding-bottom: 9rem;
  
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .info {
    padding: 1rem 0;
    width: 50%;
    align-items: center;
    text-align: center;
  }

  .imageCont {
    position: absolute;
    margin-top: 40%;
    padding: 0;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 410px) {
  .imageCont {
    position: absolute;
    margin-top: 25em;
    padding: 0;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .info p{
    font-size: 1.5em;
  }
  .info button{
    padding: 1.5em 2.5em;
    font-size: 1.5em;
  }
}
